<div class="container mt-5">
  <h1>Your Question:</h1>
  <p class="alert alert-secondary"><strong><%= @question %></strong></p>

  <h2>Coach's Answer:</h2>
  <p class="alert alert-info"><%= @answer %></p>

  <%= link_to "Ask another question", ask_path, class: "btn btn-primary" %>
</div>
