<div class="container mt-5">
  <h1 class="mb-4">Ask your coach anything</h1>
  <form action="/answer" method="get" data-turbo="false" class="form-group">
    <input type="text" name="question" class="form-control mb-2" placeholder="Ask your coach...">
    <input type="submit" value="Ask!" class="btn btn-success">
  </form>
</div>

